/** GERAL **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background: rgb(246, 246, 246);
}

h1 {
    font-size: 40pt;
    font-weight: 600;
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: rgb(0, 87, 106);
    transition: .2s all ease-in-out;
}
a:hover {
    color: black;
    text-decoration: underline;
}



/** CABEÇALHO **/
#cabec {
    width: 100%;
    background: rgb(0, 45, 55);
    height: 200px;
    text-align: center;
    color: white;
}

#menu {
    font-size: 16pt;
    padding: 30px;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}
#menu a:hover {
    color: rgb(0, 167, 205);
    text-decoration: underline;
}





/** CONTEUDO DA PÁGINA **/
#principal {
    width: 70vw;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 50vw;
    float: left;
}

#area-lateral {
    width: 20em;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border-radius: 15px;
}
.postagem h2 {
    color:rgb(0, 80, 97);
    font-size: 1.7em;
}
.postagem p {
    padding-top: 15px;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.postagem a {
    width: 100%;
    text-align: left;
    font-size: 14pt;
    font-weight: 600;
}

.data-postagem {
    display: block;
    padding-bottom: 20px;
    font-size: 1em;
}

.postagem img {
    width: 100%;
}

.recentes {
    padding: 15px;
    margin-bottom: 20px;
    background: white;
    border-radius: 15px;
}
.recentes hr {
    margin: 5px;
}
.recentes h3 {
    padding: 5px;
    font-size: 18pt;
}
.recentes p, a {
    padding:5px;
}

#categorias a {
    font-size: 14pt;
    font-weight: 550;
}


#rodape {
    background: rgb(246, 246, 246);
    clear: both;
    text-align: center;
    padding: 15px;
    font-weight: 900;
}